html {
  --timer-color: #05ec8b;

  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: #e5eaf1;
}

button {
  padding: 1.6rem 3.2rem;
  background-color: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.main,
.pomo-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
}

.pomo-container {
  border: 0.3rem solid rgba(255, 255, 255, 0.2);
  padding: 3rem 1.5rem;
  border-radius: 1rem;
}

.turns {
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
}

.time-container {
  position: relative;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.time-mode {
  padding: 2.4rem;
  font-size: 2rem;
}

.circle-container {
  transform: rotate(-90deg);
}

.background-circle,
.circle {
  r: 95;
  cx: 100;
  cy: 100;
  fill: none;
}

.background-circle {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 5;
}

.circle {
  stroke: var(--timer-color);
  stroke-width: 10;
  stroke-dasharray: 597;
  stroke-dashoffset: var(--dash-offset, 0);
  transition: stroke-dashoffset 1s linear;
}
